body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}
.card {
    background: #1e293b;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
}
.tag {
    font-size: 12px;
    color: #94a3b8;
}
a{
    color: white;
}