/* variables */
:root{
    /* Change favorite color
      Default: hsl(162, 100%, 40%)
      Orange: hsl(14, 100%, 65%) - Blue: hsl(210, 100%, 70%)
      Pink: hsl(356, 100%, 75%) - Purple: hsl(250, 100%, 75%)

      For more colors visit: https://colors.dopely.top/color-pedia
     */
    --hue: 365;
    --first-color: hsl(var(--hue), 100%, 75%);
    --first-color-alt: hsl(var(--hue), 56%, 35%);
    --title-color: hsl(228, 8%, 95%);
    --text-color: hsl(228, 8%, 65%);
    --body-color: hsl(228, 15%, 20%);
    --container-color: hsl(228, 15%, 15%);

    /* font size */
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 1.9rem;
    --bigger-font-size: 1.85rem;
    --h1-font-size: 1.4rem;
    --h2-font-size: 1.05rem;
    --h3-font-size: .9rem;
    --normal-font-size: .838rem;
    --small-font-size: .713rem;
    --smaller-font-size: .65rem;
    --gap:.6rem;

    /* font weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
}
@media screen and (min-width: 1152px) {
    :root {
        --biggest-font-size: 4rem;
        --bigger-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 2rem;
        --h3-font-size: 1.25rem;
        --gap:1rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}   
    
.swiper-button-next,.swiper-button-prev,.menu a{
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: c(0,0,0,0);
}


/* initial all over style */
*{
    margin:0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}
body{
    background-color: var(--body-color);  
}
h1{
    font-size: var(--h1-font-size);
    text-align: center;
    color: var(--title-color);
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: var(--normal-font-size);
    color:var(--text-color);
}
span{
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
    text-shadow: none;
}
.heading{
    display: grid;
    justify-content: center;
    align-items: center;
}
.heading h1{
    font-size: var(--biggest-font-size);
    color: var(--first-color);
    padding-inline: 5vw;
    padding-block: 3.5vh;
}
.heading h2{
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-align: center;
    padding-bottom: 5vh;
    margin: auto;
    position: relative;
}
/* nav bar */
#home{
    position: relative;
    top : -10vh;
    width: 100vw;
    height: 10vh; 
}
nav{
    position: sticky;
    z-index: 50;
    top : 0;
    width: 100vw;
    height: 11vh;
    display:grid;
    grid-auto-flow: column;
    justify-content:space-around;
    align-items: center;
    padding: 1vw 0px;
    background-color: hsl(var(--hue), 100%, 20%, .20);
    backdrop-filter: blur(12px);
}
.menu{
    display: grid;
    gap: 5vw;
    grid-auto-flow: column;
}
.menu a{
    font-size: var(--h2-font-size);
    background-color:var(--body-color);
    color:var(--title-color);
    padding:4px;
    margin: auto;
    border-radius: 5px;
    border: 2px solid var(--first-color-alt);
    text-decoration: none;
}
.menu-logo{
    display: flex;
    font-size: 3rem;
    padding-right: 5vw;
    color: var(--first-color);
    display: none;
}
.close-logo{
    display: flex;
    font-size: 3rem;
    padding-top: 1vh;
    padding-right: 5vw;
    color: var(--text-color);
    display: none;
}
.logo{
    padding-left: 5vw;
    font-size: 2.5rem;
    padding-top: 1vh;
    color: var(--first-color);
}
.menu a:hover{
    background-color:var(--first-color-alt);
}



/* wrapper */
.wrapper{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior:smooth;
    /* scroll-snap-type: y mandatory; */
    display: grid;
    justify-items: center;
}

.freeze{
    overflow-y: hidden;
    position: relative;
}


/* group sections  */
.scroll-group{
    width: 100vw;
    position: relative;
    top:0;
    bottom:0;
}
.layer{
    position: relative;
    inset: 0;
}

/* each group */

/* group1 */
#group1{
    position: relative;
    top: -10vh;
    height: 90vh;
    
}
#group1 .layer{
    height: 90vh;
}
#group1 #layer1{
    z-index: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: var(--container-color);
    border-right: 10px solid var(--first-color-alt);
}
#group1 #layer1 model-viewer{
    height: 100%;
    min-width: 50%;
    /* border: 2px solid white; */
}
#group1 #layer2{
    z-index: 2;
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
}
#group1 #layer2 div{
    padding-top: 10vh;
    width: 60%;
}
#group1 #layer2 h1{
    text-shadow: 2px 0px 1px var(--text-color);
    font-size: var(--biggest-font-size);
}
#group1 #layer2 h1 span{
    font-weight: 900;
}
#group1 #layer2 p{
    margin: auto;
    padding-left: 15px;
    max-width: 80%;
    border-left: 5px solid var(--first-color-alt);
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* nav bar and group1 responsiveness */
@media screen and (max-width: 1152px){
    .heading h2{
        max-width: 200px;
    }
    nav{
        justify-content: space-between;
    }
    .menu-logo{
        display: flex;
    }
    .menu{
        background-color: var(--first-color-alt);
        position: fixed;
        right:-100%;
        top: 0;
        display: flex;
        justify-content:start;
        text-align: left;
        flex-direction: column;
        width: 55vw;
        height: 100vh;
        transition: right .5s;
    }
    .close-logo{
        display: flex;
        margin-left: auto;
    }
    .menu a{
        font-size: var(--biggest-font-size);
        background-color:transparent;
        margin: 0;
        border-radius: 0px;
        border: 0px;
        text-decoration: none;
        padding-left: 5vw;
        padding-block: 3vh;
    }
    .slide-right{
        right: 0;
    }
    .vanish{
        display: none;
    }

    #group1 #layer1{
        display: flex;
        justify-content: center;
        align-items:start;
    }
    #group1 #layer1 model-viewer{
        width: 100%;
        height: 75%;
    }
    #group1 #layer2{
        display: flex;
        justify-content: center;
        align-items: end;
    }
    #group1 #layer2 div{
        width:100%;
        padding-bottom: 15vh;
    }
}

/* 1 + (translateZ * -1) / perspective=1+*/


/* group2 */
#group2{
    z-index: 2;
    height: auto;
}

/* layer3 */
#group2 #layer3{
    height: 100vh;
    display: grid;
    padding-top: 20vh;
    padding: 10vh;
    grid-auto-flow: column;
    justify-items: center;
}
#group2 #layer3 .pic{
    /* box-sizing: content-box; */
    width: 30vw;
    overflow: hidden;
    margin: 50px;
    margin-right: 0;
    position: relative;
    min-height: 500px;
}
#group2 #layer3 .pic img{
    width: 100%;
    z-index: 3;
    object-fit: cover;
    position: absolute;
}
/* #group2 #layer3 .pic #hazy{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: hsl(var(--hue), 100%, 40%, 0);
} */
#group2 #layer3 .border{
    margin-block: 30px;
    width: 1vw;
    border-left: 10px solid var(--first-color-alt);
}
#group2 #layer3 .disc{
    max-width: 50vw;
    display: grid;
    padding-inline: 2vw;
    margin-top: auto;
    margin-bottom: auto;
}
#group2 #layer3 .disc p{
    text-align: center;
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* layer4 */
#layer4{
    padding-block: 10vh;
    display: grid;
}
#layer4 .edu-card{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 47vw 6vw 47vw;
}
#layer4 .edu-card .institute{
    margin-left: auto;
    padding-bottom: 10vh;
    padding-right: 1vw;
    width: 70%;
}
#layer4 .edu-card .institute h1{
    text-align: right;
    margin-left: auto;
    color: var(--first-color);
}
#layer4 .edu-card .institute p{
    text-align: right;
    color: var(--text-color);
    font-size: var(--h2-font-size);
}
#layer4 .edu-card .border{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#layer4 .edu-card .border .line{
    height: 60%;
    background-color: var(--first-color-alt);
    width: 5px;
}

#layer4 .edu-card .desc{
    padding-bottom: 10vh;
    padding-left: 1vw;
    width: 70%;
}

#layer4 .edu-card .desc h2{
    text-align: left;
    margin-bottom: 5px;
    color: var(--title-color);
    font-size: var(--h2-font-size);
    padding-left: 5px;
}

#layer4 .edu-card .desc p{
    text-align: left;
    padding-left: 5px;
    color: var(--text-color);
    font-size: var(--h3-font-size);
}
#layer4 .cv{
    display: flex;
    justify-content: center;
}
#layer4 .cv a{
    color: var(--title-color);
    font-size: var(--h2-font-size);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--first-color-alt);
}
#layer4 .cv a:hover{
    background-color: var(--first-color);
    transform: translateY(-5px);
}

/* layer5 */
#layer5{
    background-color: var(--container-color);
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    padding-top: 10vh;
}
#layer5 .heading h1{
    padding: 0;
    margin: 0;
}

#layer5 .container{
    background-color: var(--body-color);
    box-shadow: 2px 2px 8px 3px var(--first-color-alt);
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#layer5 .container img{
    margin-inline: auto;
    margin-top: 20px;
    width: 150px;
    background-color: #cecece;
    border-radius: 25px;
    box-shadow: 2px 2px 12px 3px black;
    padding: 5px;
}
#layer5 .container .description{
    display: grid;
    align-items: center;
    align-content: flex-start;
    margin-bottom: 10px;
}
#layer5 .container .description h3{
    text-align: center;
    color: var(--text-color);
    font-size: var(--h3-font-size);
}
#layer5 .container .description h2{
    text-align: center;
    color: var(--first-color);
    font-size: var(--bigger-font-size);
    padding-bottom: 0;
}
#layer5 .container .description p{
    text-align: center;
    color: var(--title-color);
    font-size: var(--h3-font-size);
    padding-bottom: 10px;
}
#layer5 .container .description a{
    font-size: var(--h3-font-size);
    text-align: center;
    text-decoration: none;
    background-color: var(--first-color-alt);
    padding-block: 3px;
    padding-inline: 6px;
    border-radius: 3px;
    margin: auto;
    display: inline-flex;
    column-gap: 5px;
    align-items: center;
    color: var(--title-color);
    min-width: 90px;
}
#layer5 .container .description a i{
    transition: transform .5s;
}
#layer5 .container .description a:hover{
    background-color: var(--first-color);
}
#layer5 .container .description a:hover i{
    transform: translateX(10px);
}
#layer5 .projectspace{
    position: relative;
    display:grid;
    justify-content: center;
    max-height: 70vh;
}
/* swiper class */
#layer5 .swiper{
    box-sizing: border-box;
    width: 50vw;
    padding-top: 1vh;
    padding-bottom: 5vh;
    margin-bottom: 5vh;
}
#layer5 .swiper-wrapper{
    width: 400px;
    height: 450px;
}
#layer5 .swiper-slide{
    height: 60vh;
}
#layer5 .swiper-pagination-bullet{
    background-color: var(--text-color);
    bottom: 0;
}
#layer5 .swiper-pagination-bullet-active{
    background-color: var(--first-color);
}
#layer5 .swiper-button-prev::after,
#layer5 .swiper-button-next::after{
    content:'';
}
#layer5 .swiper-button-prev,
#layer5 .swiper-button-next{
    color: var(--first-color-alt);
    font-size: var(--biggest-font-size);
}
#layer5 .swiper-button-prev{
    top: 220px;
    left: 50px;
}
#layer5 .swiper-button-next{
    top: 220px;
    right: 50px;
}


/* responsiveness for group 2 */
@media screen and (max-width: 1152px){
    #group2 #layer3{
        grid-auto-flow: row;
        padding: 5vw;
    }
    #group2 #layer3 .pic{
        min-height: 30vh;
        width: 70vw;
        margin-inline: 20px;
        margin-bottom: 10px;
        margin-top: 10vh;
        border-radius: 20px 20px 0 0;
    }
    #group2 #layer3 .border{
        margin-block: 0;
        margin-inline: 20px;
        border-left: 0;
        border-top: 10px solid var(--first-color-alt);
        width: 70vw;
    }
    #group2 #layer3 .disc{
        max-width: 100%;
    }
    #group2 #layer3 .disc h1{
        text-align: center;
        /* padding-top: 5vh; */

    }
    
    
    #layer4 .edu-card .institute{
        width: 90%;
    }
    
    #layer5 .container img{
        margin-inline: auto;
        margin-block: 20px;
        width: 150px;
        background-color: #cecece;
        border-radius: 25px;
        padding: 5px;
    }
    #layer5 .container .description a{
        min-width: auto;
    }
    #layer5 .swiper-wrapper{
        width: 250px;
        height: 350px;
    }
    #layer5 .swiper-slide{
        height: 350px;
    }
    #layer5 .swiper{
        box-sizing: border-box;
        width: 90vw;
    }
    #layer5 .swiper-button-prev,
    #layer5 .swiper-button-next{
        font-size: 5rem;
    }
    #layer5 .swiper-button-prev{
        top: 180px;
        left: 2px;
    }
    #layer5 .swiper-button-next{
        top: 180px;
        right: 2px;
    }
}