/* variables */
:root{
    --hue: 162;
    --first-color: hsl(var(--hue), 100%, 40%);
    --first-color-alt: hsl(var(--hue), 56%, 35%);
    --title-color: hsl(228, 8%, 95%);
    --text-color: hsl(228, 8%, 65%);
    --body-color: hsl(228, 15%, 20%);
    --container-color: hsl(228, 15%, 15%);

    /* font size */
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2rem;
    --bigger-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* font weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
}

/* initial all over style */
*{
    margin:0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}
body{
    background-color: var(--body-color);  
}
h1{
    font-size: var(--h1-font-size);
    text-align: center;
    color: var(--title-color);
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: var(--normal-font-size);
    color:var(--text-color);
}
span{
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
    text-shadow: none;
}

/* nav bar */
#home{
    position: relative;
    top : -10vh;
    width: 100vw;
    height: 10vh; 
}
nav{
    position: sticky;
    z-index: 100;
    top : 0;
    width: 100vw;
    height: 10vh;
    display:grid;
    grid-auto-flow: column;
    justify-content:space-around;
    align-items: center;
    padding: 1vw 0px;
    background-color: hsl(var(--hue), 100%, 20%, .20);
    backdrop-filter: blur(12px);
    .menu{
        display: grid;
        gap: 5vw;
        grid-auto-flow: column;
        a{
            font-size: var(--h2-font-size);
            background-color:var(--body-color);
            color:var(--title-color);
            padding:5px;
            margin: auto;
            border-radius: 5px;
            border: 2px solid var(--first-color-alt);
            text-decoration: none;
        }
    }
    .menu-logo{
        display: flex;
        font-size: 3rem;
        padding-right: 5vw;
        color: var(--first-color);
        display: none;
    }
    .close-logo{
        display: flex;
        font-size: 3rem;
        padding-top: 1vh;
        padding-right: 5vw;
        color: var(--text-color);
        display: none;
    }
    .logo{
        padding-left: 5vw;
        font-size: 2.5rem;
        padding-top: 1vh;
        color: var(--first-color);
    }
}
nav a:hover{
    background-color:var(--first-color-alt);
}



/* wrapper */
.wrapper{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior:smooth;
    /* scroll-snap-type: y mandatory; */
    display: grid;
    justify-items: center;
}

.wrapper::-webkit-scrollbar{
    display: none;
}


/* group sections  */
.scroll-group{
    width: 100vw;
    position: relative;
    top:0;
    bottom:0;
}
.layer{
    position: relative;
    inset: 0;
}

/* each group */

/* group1 */
#group1{
    position: relative;
    top: -10vh;
    height: 90vh;
    .layer{
        height: 90vh;
    }
    #layer1{
        z-index: 1;
        display: flex;
        justify-content: right;
        align-items: center;
        background-color: var(--container-color);
        border-right: 10px solid var(--first-color-alt);
        model-viewer{
            height: 100%;
            min-width: 50%;
            /* border: 2px solid white; */
        }
    }
    #layer2{
        z-index: 2;
        display: flex;
        justify-content: left;
        align-items: center;
        position: absolute;
        div{
            padding-top: 10vh;
            width: 60%;
        }
        h1{
            text-shadow: 2px 0px 1px var(--text-color);
            font-size: var(--biggest-font-size);
            span{
                font-weight: 900;
            }
        }
        p{
            margin: auto;
            padding-left: 15px;
            max-width: 80%;
            border-left: 5px solid var(--first-color-alt);
            font-size: var(--h2-font-size);
            font-weight: var(--font-medium);
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }
    
}

/* nav bar and group1 responsiveness */
@media screen and (max-width: 1152px){
    
    nav{
        justify-content: space-between;
        .menu-logo{
            display: flex;
        }
        .menu{
            background-color: var(--first-color-alt);
            position: fixed;
            right:-100%;
            top: 0;
            display: flex;
            flex-direction: column;
            width: 40vw;
            transition: right .5s;
            .close-logo{
                display: flex;
                margin-left: auto;
            }
            a{
                background-color:transparent;
                margin: 0;
                border-radius: 0px;
                border: 0px;
                text-decoration: none;
                padding-left: 5vw;
                padding-block: 3vh;
            }
        }
        .slide-right{
            right: 0;
        }
        .vanish{
            display: none;
        }
    }
    #group1 {
        #layer1{
            display: flex;
            justify-content: center;
            align-items:start;
            model-viewer{
                width: 100%;
                height: 75%;
            }
        }
        #layer2{
            display: flex;
            justify-content: center;
            align-items: end;
            div{
                width:100%;
                padding-bottom: 15vh;
            }
            
        }
    }
}
/* 1 + (translateZ * -1) / perspective=1+*/
/* group2 */
#group2{
    z-index: 2;
    height: auto;
}
/* layer3 */
#layer3{
    height: 100vh;
    display: grid;
    padding-top: 20vh;
    padding: 10vh;
    grid-auto-flow: column;
    justify-items: center;
    .pic{
        /* box-sizing: content-box; */
        width: 30vw;
        overflow: hidden;
        margin: 50px;
        margin-right: 0;
        position: relative;
        min-height: 500px;
        img{
            width: 100%;
            z-index: 3;
            object-fit: cover;
            position: absolute;
        }
        #hazy{
            position: absolute;
            z-index: 3;
            width: 100%;
            height: 100%;
            background-color: hsl(var(--hue), 100%, 40%, .20);
        }
    }
    .border{
        margin-block: 50px;
        width: 1vw;
        border-left: 10px solid var(--first-color-alt);
    }
    .disc{
        max-width: 50vw;
        display: grid;
        padding-inline: 2vw;
        margin-top: auto;
        margin-bottom: auto;
        h1{
            font-size: var(--bigger-font-size);
            text-align: left; 
            color: var(--first-color);
            padding-inline: 5vw;
            padding-bottom: 5vh;
        }
        p{
            text-align: center;
            font-size: var(--h2-font-size);
            font-weight: var(--font-medium);
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }
}
/* layer4 */
.heading{
    h1{
        font-size: var(--biggest-font-size);
        color: var(--first-color);
        padding-inline: 5vw;
        padding-top: 7vh;
    }
    h2{
        font-size: var(--h2-font-size);
        color: var(--title-color);
        text-align: center;
        padding-bottom: 5vh;
    }
}
#layer4{
    padding-bottom: 10vh;
    display: grid;
    .edu-card{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 47vw 6vw 47vw;
        .institute{
            margin-left: auto;
            padding-bottom: 10vh;
            padding-right: 1vw;
            width: 70%;
            h1{
                text-align: right;
                margin-left: auto;
                color: var(--first-color);
            }
            p{
                text-align: right;
                color: var(--text-color);
                font-size: var(--h2-font-size);
            }
        }
        .border{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .line{
                height: 60%;
                background-color: var(--first-color-alt);
                width: 5px;
            }
        }
        h2{
            text-align: left;
            margin-top: 10px;
            color: var(--title-color);
            font-size: var(--h2-font-size);
            padding-left: 5px;
        }
    }
    .cv{
        display: flex;
        justify-content: center;
        a{
            color: var(--title-color);
            font-size: var(--h2-font-size);
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;
            background-color: var(--first-color-alt);
        }
        a:hover{
            background-color: var(--first-color);
            transform: translateY(-5px);
        }
    }
}

/* layer5 */
#layer5{
    background-color: var(--container-color);
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    .projectspace{
        position: relative;
        display:grid;
        justify-content: center;
    }
    .container{
        background-color: var(--body-color);
        box-shadow: 2px 2px 8px 3px var(--first-color-alt);
        border-radius: 20px;
        display: grid;
        justify-content: center;
        align-items: center;
        img{
            margin-inline: auto;
            margin-top: 20px;
            width: 250px;
            background-color: #cecece;
            border-radius: 25px;
            box-shadow: 2px 2px 12px 3px black;
            padding: 5px;
        }
        .description{
            display: grid;
            align-items: center;
            align-content: flex-start;
            margin-bottom: auto;
            h3{
                text-align: center;
                color: var(--text-color);
                font-size: var(--h3-font-size);
            }
            h2{
                text-align: center;
                color: var(--first-color);
                font-size: var(--bigger-font-size);
                padding-bottom: 0;
            }
            p{
                text-align: center;
                color: var(--title-color);
                font-size: var(--h3-font-size);
                padding-bottom: 10px;
            }
            a{
                font-size: var(--h3-font-size);
                text-align: center;
                text-decoration: none;
                background-color: var(--first-color-alt);
                padding-block: 3px;
                padding-inline: 6px;
                border-radius: 3px;
                margin: auto;
                display: inline-flex;
                column-gap: 5px;
                align-items: center;
                color: var(--title-color);
                min-width: 90px;
                i{
                    transition: transform .5s;
                }
            }
            a:hover{
                background-color: var(--first-color);
            }
            a:hover i{
                transform: translateX(10px);
            }
        }
    }
    /* swiper class */
    .swiper{
        box-sizing: border-box;
        width: 50vw;
        padding-top: 5px;
        padding-bottom: 50px;
        margin-bottom: 15px;
    }
    .swiper-wrapper{
        width: 400px;
        height: 450px;
    }
    .swiper-slide{
        height: 450px;
    }
    .swiper-pagination-bullet{
        background-color: var(--text-color);
        bottom: 0;
    }
    .swiper-pagination-bullet-active{
        background-color: var(--first-color);
    }
    .swiper-button-prev::after,
    .swiper-button-next::after{
        content:'';
    }
    .swiper-button-prev,
    .swiper-button-next{
        color: var(--first-color-alt);
        font-size: var(--biggest-font-size);
    }
    .swiper-button-prev{
        top: 220px;
        left: 50px;
    }
    .swiper-button-next{
        top: 220px;
        right: 50px;
    }
}


/* responsiveness for group 2 */
@media screen and (max-width: 1152px){
    #group2{
        #layer3{
            grid-auto-flow: row;
            padding: 5vw;
            & .pic{
                min-height: 30vh;
                width: 70vw;
                margin-inline: 20px;
                margin-bottom: 10px;
                margin-top: 10vh;
                border-radius: 20px 20px 0 0;
            }
            & .border{
                margin-block: 0;
                margin-inline: 20px;
                border-left: 0;
                border-top: 10px solid var(--first-color-alt);
                width: 70vw;
            }
            & .disc{
                max-width: 100%;
                & h1{
                    text-align: center;
                    /* padding-top: 5vh; */

                }
            }
        }
        #layer4{
            .edu-card{
                .institute{
                    width: 90%;
                }
            }
        }
        #layer5{
            .container{
                img{
                    margin-inline: auto;
                    margin-block: 20px;
                    width: 150px;
                    background-color: #cecece;
                    border-radius: 25px;
                    padding: 5px;
                }
                .description{
                    a{
                        min-width: auto;
                    }
                }
            }
            .swiper-wrapper{
                width: 250px;
                height: 350px;
            }
            .swiper-slide{
                height: 350px;
            }
            .swiper{
                box-sizing: border-box;
                width: 90vw;
            }
            .swiper-button-prev,
            .swiper-button-next{
                font-size: 5rem;
            }
            .swiper-button-prev{
                top: 180px;
                left: -4px;
            }
            .swiper-button-next{
                top: 180px;
                right: -4px;
            }
        }
    }
}
@media screen and (min-width: 1152px) {
    :root {
        --biggest-font-size: 4rem;
        --bigger-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 2rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}