name: Update News Feed

on:
  schedule:
    - cron: "0 2 * * *"   # 7:30 AM IST
    - cron: "45 18 * * *"   # 00:15 IST
  workflow_dispatch:

jobs:
  update-rss:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install feedparser

      - name: Run RSS script
        run: python python/news.py

      - name: Commit and push changes
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add .
          git commit -m "Auto update news" || echo "No changes"
          git push
