name: Update News Feed

permissions:
  contents: write

on:
  schedule:
    - cron: "45 33 * * *"
  workflow_dispatch:

jobs:
  update-rss:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - run: pip install feedparser

      - run: python python/news.py

      - run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add .
          git commit -m "Auto update news" || echo "No changes"
          git push
